<html>
   <body>
    <form >
        <h1 style="text-align: center;"><em><strong>Match Analysis</strong></em>
         <p><input type ="button" onclick="location.href='sets';"value = "SET-wise Analysis" /></p>
         <p><input type = "button" onclick="location.href='result';"value = "Result Analysis" /></p>
        </h1>
    </form>
    <style>
            body {
                    background-image: url("/static/images/bad.jpg");
            } 
             
            </style>

    </body>
</html>

