<html>
   <body>
        <h1 style="text-align: center;">Player {{ name }} won the set</h1>
    <h1 style="text-align: center;">Dominance
        <p><img src="/static/images/set3_dominance.png" alt="" /></p></h1>
    <h1 style="text-align: center;">No. of strokes
        <p><img src="/static/images/set3_strokes.png" alt="" /></p></h1>
        <style>
                body {
                        background-image: url("/static/images/bad.jpg");
                } 
                 
                </style>
    </body>
</html>








