<html>
   <body>
    <form  method = "post">
        <h1 style="text-align: center;"><em><strong>Enter set number</strong></em>
            <p><input type ="button" onclick="location.href='set_analysis/set1';"value = "SET 1" /></p>
            <p><input type = "button" onclick="location.href='set_analysis/set2';"value = "SET 2" /></p>
            <p><input type = "button" onclick="location.href='set_analysis/set3';"value = "SET 3" /></p>
           
    </form>
    <style>
            body {
                    background-image: url("/static/images/bad.jpg");
            } 
             
            </style>
    </body>
</html>

